<div class="col-md-12">
  <h1>{{title}}</h1>
  <div *ngIf="showErrorMessage" id="errorDiv" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
    <p>
      <label >{{emailText}}</label>
      <input  #email="ngModel" ngControl="email" type="email" class="form-control" [(ngModel)]="user.email" name="email" required>
      <span class="form-error" *ngIf="!email.valid && email.touched">Introduzca una dirección de correo válida</span>
    </p>
    <p>
      <label >{{passwordText}}</label>
      <input #password="ngModel" ngControl="password" type="password" class="form-control" [(ngModel)]="user.password" name="password" required>
      <span class="form-error" *ngIf="!password.valid && password.touched">Introduzca su contraseña</span>
    </p>
    <div >
      <button type="submit" class="btn btn-primary col-md-5" style="margin-right: 10px;">{{title}}</button>
      <button type="button" class="btn btn-success col-md-6" (click)="goToRegister()">{{register}}</button>
    </div>
  </form>

</div>