<div class="col-md-12">
  <h1>{{titulo}}</h1>
  <div *ngIf="!token || token ==null" > 
    <h3> Inicia sesión para acceder a los servicios de Atisa</h3>
    <button (click)="goToLogin()" class="btn btn-outline-success">Acceder</button>
  </div>

  <div *ngIf="token && token !=null">
     <h2>¡Acceso exitoso!</h2>
     <button (click)="goToLogin()" class="btn btn-outline-success">Cerrar sesión</button>
  </div>
</div>