<div class="col-md-12">
    <h1>{{title}}</h1>
    <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
      ¡Usuario registrado correctamente! <a href="/login" class="alert-link">Acceda con su nueva cuenta</a>. 
    </div>
    <div *ngIf="showErrorMessage" id="errorDiv" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
      <p>
        <label for="">{{nameText}}:</label>
        <input  #name="ngModel" ngControl="name" type="email" class="form-control" [(ngModel)]="user.name" name="name" required>
        <span class="form-error" *ngIf="!name.valid && name.touched">Introduzca un nombre válido</span>
      </p>
      <p>
          <label for="">{{emailText}}:</label>
          <input  #email="ngModel" ngControl="email" type="email" class="form-control" [(ngModel)]="user.email" name="email" required>
          <span class="form-error" *ngIf="!email.valid && email.touched">Introduzca una dirección de correo válida</span>
        </p>
      <p>
        <label for="">{{passwordText}}</label>
        <input #password="ngModel" ngControl="password" type="password" class="form-control" [(ngModel)]="user.password" name="password" required>
        <span class="form-error" *ngIf="!password.valid && password.touched">Introduzca su contraseña</span>
      </p>     
      <div >
        <button type="submit" class="btn btn-primary col-md-5" style="margin-right: 10px;">{{title}}</button>
        <button type="button" class="btn btn-success col-md-6" (click)="goToLogin()">{{login}}</button>
      </div>
    </form>
  
  </div>